body {

}

#studentList {
    margin-top: 30px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.tableContainer {
    height: 300px;
    overflow: hidden;
}
.table {
    position: sticky;
    top: 0;
    width: 100%;
}

